
  
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang chủ | Petshop</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">            
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">		
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">
    	.img-div {
    		width: 255px;
    		height: 255px;
    	}
    </style>
</head><!--/head-->

<body ng-controller="appController">
	<header id="header" class="fadeIn"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">				
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/#/home"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">							
								<li><a href="#/checkout"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
								<li><a href="#/cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">						
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/#/home" class="active">Trang chủ</a></li>
								
								<li class="dropdown fadeIn" ng-show="listCategory.length>0"><a href="#/product/list">Sản phẩm<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">  
                                    	<li><a href="#/product/list">Tất cả</a></li>                                  	
                                        <li ng-repeat="category in listCategory"><a href="#/category/{{category.id}}">{{category.name}}</a></li>		                                       							
                                    </ul>
                                </li>
                               	
								<li class="dropdown fadeIn" ng-show="listCollection.length>0"><a href="#">Bộ sưu tập<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">                                    	
                                        <li ng-repeat="collection in listCollection"><a href="#/collection/{{collection.id}}">{{collection.name}}</a></li>										
                                    </ul>
                                </li> 
                                
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form action="" method="get" onsubmit="location.href='#/search/' + encodeURIComponent(this.search.value).replace(/ /g, '+'); return false;" role="search">            	                            	                                	
                            	<input type="text" name="search" placeholder="Tìm kiếm">
                            </form>							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
		
	<section id="slider" class="fadeIn"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>							
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>Pet</span>-Shop</h1>
									<h2>Sản phẩm chất lượng cao.</h2>
									<p>Petshop sẽ đem đến cho thú cưng nhà bạn những sản phẩm chất lượng nhất.</p>																		
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl1.jpg" class="girl img-responsive" alt="" style="max-height: 297px"/>									
								</div>
							</div>	
							<div class="item">
								<div class="col-sm-6">
									<h1><span>Pet</span>-Shop</h1>
									<h2>Giá cả cạnh tranh.</h2>	
									<p>Khách hàng sẽ bất ngờ với giá các sản phẩm tại Petshop khi so sánh với các sản phẩm cùng loại trên thị trường.</p>																	
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl2.jpg" class="girl img-responsive" alt="" style="max-height: 297px"/>									
								</div>
							</div>																							
						</div>
						
						<a href="" data-target="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="" data-target="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2 ng-show="listCategory.length>0" class="fadeIn">Danh mục</h2>
						<div class="panel-group category-products fadeIn" id="accordian" ng-show="listCategory.length>0"><!--category-productsr-->																															
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/category/{{category.id}}" ng-cloak>Quần áo nam</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/category/{{category.id}}" ng-cloak>Quần áo trẻ em</a></h4>
								</div>
							</div>																
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/category/{{category.id}}" ng-cloak>Áo khoác</a></h4>
								</div>
							</div>																	
						</div><!--/category-products-->						
						<div class="brands_products fadeIn" ng-show="listCollection.length>0"><!--brands_products-->
							<h2>Bộ sưu tập</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">								
									<li><a href="#/collection/{{collection.id}}">Bộ sưu tập mùa đông</a></li>											
									<li><a href="#/collection/{{collection.id}}">Mùa hạ</a></li>
									<li><a href="#/collection/{{collection.id}}">Bộ sưu tập áo tắm</a></li>														<li><a href="#/collection/{{collection.id}}">Mùa thu gió bay</a></li>																								
								</ul>
							</div>
						</div><!--/brands_products-->
						
												
						<div class="shipping text-center"><!--shipping-->
							<img src="images/shop/product9.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				
				<div class="col-sm-9 padding-right">
					<ui-view class="fadeIn ng-scope">  
					<div class="features_items fadeIn" id="result"><!--features_items-->																									
					</div><!--features_items-->														
					</ui-view>
				</div>									
			</div>
		</div>
	</section>		
	
	<footer id="footer"><!--Footer-->			
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 Petshop. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>	
	<script src="js/index.js"></script>	
		   
</body>
</html>